
header {
	height: 140px;
	background-color: #403933;
	background-image:url(images/backgrounds/subtle_brown_mini_waves.png);
}

header .nav-link {
    text-align: center;
}

/* When a web browser is larger than 600 pixels,
   apply these rules */
   @media all and (min-width: 600px) {

    header {
      /* Change the default setting from block to flex */
      display: flex;
      /* Push the items (the title and nav) to the far sides of the 
         browser with space between them. */
      justify-content: space-between;
      /* Add 0 pixels padding top & bottom and 30 pixels left & 
         right. */ 
      padding: 0 30px;  
    }
  
    header h1 {
       /* Sets 14 pixels of margin above & below the h1 and set 
          0 pixels to the left & right */
      margin: 14px 0;
      /* Remove or set 0 pixels of padding above the h1. */
      padding-top: 0;
    }
  
    header nav {
      /* Push down the navigation container 8 pixels to make it present a little better visually within the space. */
      margin-top: 8px;
    }
    /* Users cannot hover on mobile devices, so that is why we 
       implement this behavior only for larger screens */
    header nav ul li a:hover {
      /* Targets the change when a user hovers over the anchor tag 
         (link) within the list items within the unordered list that 
         is within the nav that is within the header. */
      color: #bdbdbd;
    }
  
  }

p {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5em;
    margin-bottom: 0;
   }

.nav-link {
    margin-top: 25px;
    word-spacing: 10px;
}

section {
    background-size: cover;
    background-color: white;
}

.card {
    margin: 10%;
}

.logo, .link1, .link2, .link3{
    font-family: 'Nanum Pen Script', cursive;
    font-size: 45px;
    color: #c5c0b8;
    text-align: center;
    letter-spacing: -3;
    margin: 0;
    padding: 10px 0 0 0;
  }

  .logo-p {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 20px;
    color: #c5c0b8;
    text-align: center;
    letter-spacing: -3;
    margin: 0;
    padding: 10px 0 0 0;
  }

.link1, .link2, .link3 {
    text-align: center;
    font-size: 25px;
    color: #c5c0b8;
    text-decoration: none;
    padding-top: 25px;
}

.link1:hover {
    color: chocolate;
}
.link2:hover {
    color: chocolate;
}
.link3:hover {
    color:chocolate;
}
.img-logo {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
}

img {
    /* height: 300px; */
    width: 100%;
  }

img.rounded {
    border-radius: 8px;
  }

.container, .container-fluid {
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
}

.data {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
    text-align: center;
    margin-bottom: 50px;
}

.main_title {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 45px;
    color: #c5c0b8;
    text-align: center;
    letter-spacing: -3;
    margin: 0;
}

.main_description {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 25px;
    color: #61392e;
    text-align: center;
    letter-spacing: -3;
    margin: 0;
}

.jobtitle {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 25px;
    color: #cf4d29;
    text-align: center;
    letter-spacing: -3;
    margin: 0;
}

.mainbuttons {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    padding: 2px;
}
.btn{
    margin-top: .5rem;
    font-size: 1rem;
    padding: 2px;
    color: black;
    width: 100px;
}
.btn:hover {
    color: chocolate;
}

.main-icons {
    display:flex;
    flex-direction: row;
    width:60px;
    justify-content: space-around;
    margin-top: 2px;
}

.icon1, .icon2, .icon3 {
    color: black;
    padding: 15px; 
}

.icon1:hover {
    color: chocolate;
}

.icon2:hover {
    color: chocolate;
}

.icon3:hover {
    color: chocolate;
}

footer {
    align-items: center;
}

.group {
    display: flex;
    flex-direction: column;
  }
  
  .item {
    flex: 1;
    margin: 10px;
  }
  
/* Groups & Items  (Desktop) */

@media all and (min-width: 800px) {
    .wrapper {
      width: 80%;
      margin: auto;
    }
  
    .group {
      flex-direction: row;
    }
  }

 #portfolio {
    margin-bottom: 120px;
    font-family: 'Nanum Pen Script', cursive;
  }

